.home-first-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home-box {
  width: 32%;
  height: 27vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  justify-content: center;
  align-items: center;
}

.box-1 {
  background: linear-gradient(to right, #282c34, rgb(68, 9, 231));
}

.box-2 {
  background: linear-gradient(to right, #282c34, rgb(250, 3, 209));
}

.box-3 {
  background: linear-gradient(to right, #282c34, rgb(0, 94, 255));
}

.home-second-row {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}

.chart-box {
  background-color: white;
  width: 60%;
  height: 60vh;
}

.recent-invoice {
  background-color: white;
  width: 35%;
  height: 60vh;
  margin-top: 5px;
}

.recent-invoice h3 {
  text-align: center;
  padding: 10px;
  color: white;
  background-color: rgb(68, 9, 231);
}

.recent-items {
  display: flex;
  flex-direction: column;
}

.recent-item {
  display: flex;
  justify-content: space-between;
  background-color: white;
  cursor: pointer;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
}

.recent-item:hover {
  background-color: #eee;
}

.recent-item p {
  width: 50%;
}
